In [1]:
import pandas as pd
# trocar pelo caminho do seu drive
caminho = '/content/drive/MyDrive/Aula_DataExploratory/DNSE2017.csv'

sinasc = pd.read_csv(caminho, dtype=str)

In [2]:
sinasc.QTDFILVIVO = pd.to_numeric(sinasc.QTDFILVIVO).astype(pd.Int64Dtype())
sinasc.QTDFILMORT = pd.to_numeric(sinasc.QTDFILMORT).astype(pd.Int64Dtype())
sinasc.SEMAGESTAC = pd.to_numeric(sinasc.SEMAGESTAC).astype(pd.Int64Dtype())
sinasc.PESO = pd.to_numeric(sinasc.PESO)
sinasc.IDADEMAE = pd.to_numeric(sinasc.IDADEMAE)
sinasc.IDADEPAI = pd.to_numeric(sinasc.IDADEPAI)
sinasc.APGAR1 = pd.to_numeric(sinasc.APGAR1)
sinasc.APGAR5 = pd.to_numeric(sinasc.APGAR5)
sinasc.CONSPRENAT = pd.to_numeric(sinasc.CONSPRENAT).astype(pd.Int64Dtype())
sinasc.SERIESCMAE = pd.to_numeric(sinasc.SERIESCMAE).astype(pd.Int64Dtype())
sinasc.QTDGESTANT = pd.to_numeric(sinasc.QTDGESTANT).astype(pd.Int64Dtype())
sinasc.QTDPARTCES = pd.to_numeric(sinasc.QTDPARTCES).astype(pd.Int64Dtype())
sinasc.QTDPARTNOR = pd.to_numeric(sinasc.QTDPARTNOR).astype(pd.Int64Dtype())

In [3]:
#Exercicio 1
partonormal = sinasc[(sinasc.PARTO == '1')]
media_normal = partonormal.IDADEMAE.mean()
dm_normal = partonormal.IDADEMAE.mad() 
variancia_normal = partonormal.IDADEMAE.var()
quartil = partonormal.IDADEMAE.quantile([0.25, 0.75]).values
intervalo_quartil = quartil[1] - quartil[0]
dp_normal = partonormal.IDADEMAE.std()
cv_1 = dp_normal*100/media_normal

resultado = pd.DataFrame({
    'Parto':['Normal'],
    'média':[media_normal], 
    'dm':[dm_normal],
    'var':[variancia_normal],
    'dp':[dp_normal], 
    'iqr':[intervalo_quartil],
    'cv':[cv_1]} ).set_index('Parto')
resultado

           média        dm        var        dp   iqr         cv
Parto
Normal  24.98357  5.576194  45.066032  6.713124  10.0  26.870154

In [4]:
#Exercico 1
partocesaria = sinasc[(sinasc.PARTO == '2')]
media_cesaria = partocesaria.IDADEMAE.mean()

dm_cesaria = partocesaria.IDADEMAE.mad() 
variancia_cesaria = partocesaria.IDADEMAE.var()
quartil = partocesaria.IDADEMAE.quantile([0.25, 0.75]).values
intervalo_quartil = quartil[1] - quartil[0]
dp_cesaria = partocesaria.IDADEMAE.std()
cv_2 = dp_cesaria *100/media_cesaria

resultado = pd.DataFrame({
    'Parto':['Cesária'],
    'média':[media_cesaria], 
    'dm':[dm_cesaria],
    'var':[variancia_cesaria],
    'dp':[dp_cesaria], 
    'iqr':[intervalo_quartil],
    'cv':[cv_2]} ).set_index('Parto')
resultado

             média        dm        var        dp   iqr         cv
Parto
Cesária  27.634743  5.642534  45.322524  6.732201  11.0  24.361364

In [5]:
#Exercicio 2
partonormal = sinasc[(sinasc.PARTO == '1')]
media_normal = partonormal.PESO.mean()
dm_normal = partonormal.PESO.mad() 
variancia_normal = partonormal.PESO.var()
quartil = partonormal.PESO.quantile([0.25, 0.75]).values
intervalo_quartil = quartil[1] - quartil[0]
dp_normal = partonormal.PESO.std()
cv_1 = dp_normal*100/media_normal


resultado = pd.DataFrame({
    'Parto':['Normal'],
    'média':[media_normal], 
    'dm':[dm_normal],
    'var':[variancia_normal],
    'dp':[dp_normal], 
    'iqr':[intervalo_quartil],
    'cv':[cv_1]} ).set_index('Parto')
resultado

              média          dm          var          dp    iqr         cv
Parto
Normal  3192.604793  402.293533  308349.1459  555.291947  610.0  17.393069

In [6]:
#Exercicio 2
partocesaria = sinasc[(sinasc.PARTO == '2')]
media_cesaria = partocesaria.PESO.mean()

dm_cesaria = partocesaria.PESO.mad() 
variancia_cesaria = partocesaria.PESO.var()
quartil = partocesaria.PESO.quantile([0.25, 0.75]).values
intervalo_quartil = quartil[1] - quartil[0]
dp_cesaria = partocesaria.PESO.std()
cv_2 = dp_cesaria *100/media_cesaria

resultado = pd.DataFrame({
    'Parto':['Cesária'],
    'média':[media_cesaria], 
    'dm':[dm_cesaria],
    'var':[variancia_cesaria],
    'dp':[dp_cesaria], 
    'iqr':[intervalo_quartil],
    'cv':[cv_2]} ).set_index('Parto')
resultado

               média          dm            var          dp    iqr         cv
Parto
Cesária  3262.296254  445.274967  358318.792575  598.597354  678.0  18.348958

In [8]:
#Exercicio 3

#valores = sinasc['CONSULTAS'].unique()


pre_natal_1 = sinasc[(sinasc.CONSULTAS == '1')]
pre_natal_2 = sinasc[(sinasc.CONSULTAS == '2')]
pre_natal_3 = sinasc[(sinasc.CONSULTAS == '3')]
pre_natal_4 = sinasc[(sinasc.CONSULTAS == '4')]
#pre_natal_9 = sinasc[(sinasc.CONSULTAS == '9')]

media_1 = pre_natal_1.PESO.mean()
media_2 = pre_natal_2.PESO.mean()
media_3 = pre_natal_3.PESO.mean()
media_4 = pre_natal_4.PESO.mean()

desviop_1 = pre_natal_1.PESO.std()
desviop_2 = pre_natal_2.PESO.std()
desviop_3 = pre_natal_3.std()
desviop_4 = pre_natal_4.std()

desviom_1 = pre_natal_1.PESO.mad()
desviom_2 = pre_natal_2.PESO.mad()
desviom_3 = pre_natal_3.mad()
desviom_4 = pre_natal_4.mad()

q_1 = pre_natal_1.PESO.quantile([0.25, 0.75]).values
q_2 = pre_natal_2.PESO.quantile([0.25, 0.75]).values
q_3 = pre_natal_3.PESO.quantile([0.25, 0.75]).values
q_4 = pre_natal_4.PESO.quantile([0.25, 0.75]).values

iqr_1 = q_1[1] - q_1[0]
iqr_2 = q_2[1] - q_2[0]
iqr_3 = q_3[1] - q_3[0]
iqr_4 = q_4[1] - q_4[0]

cv_1 = desviop_1*100/media_1
cv_2 = desviop_2*100/media_2
cv_3 = desviop_3*100/media_3
cv_4 = desviop_4*100/media_4

resultado = pd.DataFrame({
    'Consultas':['Nenuma', '1 a 3', '4 a 6', '7 ou mais'],
    'média':[media_1, media_2, media_3, media_4], 
    'dm':[desviom_1, desviom_2, desviom_3, desviom_4],
    'dp':[desviop_1, desviop_2, desviop_3, desviop_4], 
    'iqr':[iqr_1, iqr_2, iqr_3, iqr_4],
    'cv':[cv_1, cv_2, cv_3, cv_4]} ).set_index('Consultas')
resultado

                 média  ...                                                 cv
Consultas               ...
Nenuma     3085.705714  ...                                            21.9179
1 a 3      3022.836124  ...                                            25.3232
4 a 6      3166.448122  ...  IDADEMAE       0.218940
QTDFILVIVO     0.04757...
7 ou mais  3295.601250  ...  IDADEMAE       0.203116
QTDFILVIVO     0.03642...

[4 rows x 5 columns]

In [11]:
#Exercico 4 Filhos mortos

#valores = sinasc.GRAVIDEZ.unique()
#valores

gravidez_1= sinasc[(sinasc.GRAVIDEZ == '1')]
gravidez_2= sinasc[(sinasc.GRAVIDEZ == '2')]
gravidez_3= sinasc[(sinasc.GRAVIDEZ == '3')]

media_1 = gravidez_1.QTDFILMORT.mean()
media_2 = gravidez_2.QTDFILMORT.mean()
media_3 = gravidez_3.QTDFILMORT.mean()


desviom_1 = gravidez_1.QTDFILMORT.mad()
desviom_2 = gravidez_2.QTDFILMORT.mad()
desviom_3 = gravidez_3.QTDFILMORT.mad()


desviop_1 = gravidez_1.QTDFILMORT.std()
desviop_2 = gravidez_2.QTDFILMORT.std()
desviop_3 = gravidez_3.QTDFILMORT.std()

q_1 = gravidez_1.QTDFILMORT.quantile([0.25, 0.75]).values
q_2 = gravidez_2.QTDFILMORT.quantile([0.25, 0.75]).values
q_3 = gravidez_3.QTDFILMORT.quantile([0.25, 0.75]).values

iqr_1 = q_1[1] - q_1[0]
iqr_2 = q_2[1] - q_2[0]
iqr_3 = q_3[1] - q_3[0]


cv_1 = desviop_1*100/media_1
cv_2 = desviop_2*100/media_2
cv_3 = desviop_3*100/media_3

resultado = pd.DataFrame({
    'Tipo de gravidez':['Única', 'Dupla', 'Tripla ou mais'],
    'média':[media_1, media_2, media_3], 
    'desviom':[desviom_1, desviom_2, desviom_3],
    'desviop':[desviop_1, desviop_2, desviop_3], 
    'iqr':[iqr_1, iqr_2, iqr_3],
    'cv':[cv_1, cv_2, cv_3]} ).set_index('Tipo de gravidez')
resultado

                     média   desviom   desviop  iqr          cv
Tipo de gravidez
Única             0.309670  0.469722  0.647014  0.0  208.936670
Dupla             0.350168  0.509336  0.653393  1.0  186.593960
Tripla ou mais    0.222222  0.345679  0.427793  0.0  192.506684

In [12]:
#Exercicio 4 FIlhos Vivos


gravidez_1= sinasc[(sinasc.GRAVIDEZ == '1')]
gravidez_2= sinasc[(sinasc.GRAVIDEZ == '2')]
gravidez_3= sinasc[(sinasc.GRAVIDEZ == '3')]

media_1 = gravidez_1.QTDFILVIVO.mean()
media_2 = gravidez_2.QTDFILVIVO.mean()
media_3 = gravidez_3.QTDFILVIVO.mean()


desviom_1 = gravidez_1.QTDFILVIVO.mad()
desviom_2 = gravidez_2.QTDFILVIVO.mad()
desviom_3 = gravidez_3.QTDFILVIVO.mad()


desviop_1 = gravidez_1.QTDFILVIVO.std()
desviop_2 = gravidez_2.QTDFILVIVO.std()
desviop_3 = gravidez_3.QTDFILVIVO.std()

q_1 = gravidez_1.QTDFILVIVO.quantile([0.25, 0.75]).values
q_2 = gravidez_2.QTDFILVIVO.quantile([0.25, 0.75]).values
q_3 = gravidez_3.QTDFILVIVO.quantile([0.25, 0.75]).values

iqr_1 = q_1[1] - q_1[0]
iqr_2 = q_2[1] - q_2[0]
iqr_3 = q_3[1] - q_3[0]


cv_1 = desviop_1*100/media_1
cv_2 = desviop_2*100/media_2
cv_3 = desviop_3*100/media_3

resultado = pd.DataFrame({
    'Tipo de gravidez':['Única', 'Dupla', 'Tripla ou mais'],
    'média':[media_1, media_2, media_3], 
    'desviom':[desviom_1, desviom_2, desviom_3],
    'desviop':[desviop_1, desviop_2, desviop_3], 
    'iqr':[iqr_1, iqr_2, iqr_3],
    'cv':[cv_1, cv_2, cv_3]} ).set_index('Tipo de gravidez')
resultado

                     média   desviom   desviop  iqr          cv
Tipo de gravidez
Única             1.121666  0.979290  1.417140  2.0  126.342454
Dupla             1.197749  1.054021  1.407752  2.0  117.533137
Tripla ou mais    0.833333  1.388889  1.917412  0.0  230.089497

In [18]:
#Exercicio 5

#1: Nenhuma; 2: 1 a 3 anos; 3: 4 a 7 anos; 4: 8 a 11 anos; 5: 12 e mais

#valores = sinasc.ESCMAE.unique()
#valores

escolaridade_1= sinasc[(sinasc.ESCMAE == '1')]
escolaridade_2= sinasc[(sinasc.ESCMAE == '2')]
escolaridade_3= sinasc[(sinasc.ESCMAE == '3')]
escolaridade_4= sinasc[(sinasc.ESCMAE == '4')]
escolaridade_5= sinasc[(sinasc.ESCMAE == '5')]

escolaridade_1['FILHOS'] = escolaridade_1.QTDFILVIVO + escolaridade_1.QTDFILMORT
escolaridade_2['FILHOS']  = escolaridade_2.QTDFILVIVO + escolaridade_2.QTDFILMORT
escolaridade_3['FILHOS']  = escolaridade_3.QTDFILVIVO + escolaridade_3.QTDFILMORT
escolaridade_4['FILHOS']  = escolaridade_4.QTDFILVIVO + escolaridade_4.QTDFILMORT
escolaridade_5['FILHOS']  = escolaridade_5.QTDFILVIVO + escolaridade_5.QTDFILMORT


media_1 = escolaridade_1.FILHOS.mean()
media_2 = escolaridade_2.FILHOS.mean()
media_3 = escolaridade_3.FILHOS.mean()
media_4 = escolaridade_4.FILHOS.mean()
media_5 = escolaridade_5.FILHOS.mean()


desviom_1 = escolaridade_1.FILHOS.mad()
desviom_2 = escolaridade_2.FILHOS.mad()
desviom_3 = escolaridade_3.FILHOS.mad()
desviom_4 = escolaridade_4.FILHOS.mad()
desviom_5 = escolaridade_5.FILHOS.mad()



desviop_1 = escolaridade_1.FILHOS.std()
desviop_2 = escolaridade_2.FILHOS.std()
desviop_3 = escolaridade_3.FILHOS.std()
desviop_4 = escolaridade_4.FILHOS.std()
desviop_5 = escolaridade_5.FILHOS.std()


q_1 = escolaridade_1.FILHOS.quantile([0.25, 0.75]).values
q_2 = escolaridade_2.FILHOS.quantile([0.25, 0.75]).values
q_3 = escolaridade_3.FILHOS.quantile([0.25, 0.75]).values
q_4 = escolaridade_4.FILHOS.quantile([0.25, 0.75]).values
q_5 = escolaridade_5.FILHOS.quantile([0.25, 0.75]).values

iqr_1 = q_1[1] - q_1[0]
iqr_2 = q_2[1] - q_2[0]
iqr_3 = q_3[1] - q_3[0]
iqr_4 = q_4[1] - q_4[0]
iqr_5 = q_5[1] - q_5[0]


cv_1 = desviop_1*100/media_1
cv_2 = desviop_2*100/media_2
cv_3 = desviop_3*100/media_3
cv_4 = desviop_4*100/media_4
cv_5 = desviop_5*100/media_5

# organizando em um dataframe
resultado = pd.DataFrame({
    'Escolaridade':['Nenhuma', '1 a 3 anos', '4 a 7 anos', '8 a 11 anos', '12 anos ou mais'],
    'média':[media_1, media_2, media_3, media_4, media_5], 
    'desviom':[desviom_1, desviom_2, desviom_3, desviom_4, desviom_5],
    'desviop':[desviop_1, desviop_2, desviop_3, desviop_4, desviop_5], 
    'iqr':[iqr_1, iqr_2, iqr_3, iqr_4, iqr_5],
    'cv':[cv_1, cv_2, cv_3, cv_4, cv_5]} ).set_index('Escolaridade')
resultado

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                    média   desviom   desviop  iqr          cv
Escolaridade
Nenhuma          5.310559  2.626056  3.134956  4.0   59.032508
1 a 3 anos       3.544463  2.128675  2.720332  3.0   76.748766
4 a 7 anos       1.857100  1.446019  1.906030  3.0  102.634762
8 a 11 anos      1.089825  0.967779  1.322203  2.0  121.322555
12 anos ou mais  0.709841  0.756203  0.986495  1.0  138.974008